<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body align="center"></body>
    <h1>회원가입</h1><br>
    <form action ="/signup" method="POST"> <!-- submit하면 /signup 으로 post 감 -->
        이메일 : <input type="text" name="email"><br><br>
        비밀번호 : <input type="password" name="password"><br><br>
        <input type="submit"> <!-- 버튼타입 submit -->
    </form>
</body>
</html>